<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  </head>

  <body>
    <nav class="navbar navbar-dark bg-primary">
      <a class="navbar-brand" href="#">
        Explainable ML for ACS patients
      </a>
    </nav>


    <div class="container">
      <div id="loading_pane" class="jumbotron text-center my-3">
        <h1>Loading study data ...</h1>
        <div class="text-primary">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
      <div id="main_pane" class='d-none'>

        <h3 class="text-center my-3">Introduction</h3>
        <p>This microsite provides the javascript applet to visualise the explanations of our most predictive Machine Learning (ML) models to predict morbidity and mortality for patients with acute coronary syndrome. We studied n=2,262 patients diagnosed with acute coronary syndrome. SHAP explanations for n=452 patients in the held out test set were extracted for the best performing ML model. We will first show the explanations for individual patients as follows.</p>

        <hr>
        <h3 class="text-center my-3">Guide to interpretating SHAP explanations</h3>
        <p>We show 5 patients' explanations below. Their original patient indices were 1, 3, 441, 435 and 436. The blue coloured features and their associated values are identified to push the risk lower while the red coloured features and their associated values are identified to push the risk higher.</p>

        <h5 class="text-center my-3">SHAP explanation for patient index 1</h5>
        <div id="shap_patient_1_plot"></div>
        <h5 class="text-center my-3">SHAP explanation for patient index 3</h5>
        <div id="shap_patient_3_plot"></div>
        <h5 class="text-center my-3">SHAP explanation for patient index 441</h5>
        <div id="shap_patient_441_plot"></div>
        <h5 class="text-center my-3">SHAP explanation for patient index 435</h5>
        <div id="shap_patient_435_plot"></div>
        <h5 class="text-center my-3">SHAP explanation for patient index 436</h5>
        <div id="shap_patient_436_plot"></div>

        <hr>
        <h3 class='text-center my-3'>Force plot of held out test patients</h3>
        <p>Collating the explanations into a single plot by rotating all patient explanations 90 degrees, we can make comparisons by filtering for different parameters (e.g. Left ventricular ejection fraction, Total cholesterol, etc.). Clicking on a patient will initiate a popup providing the original index number of the patient. This index can be used in the next section for further analysis.</p>
        <div id='shap_plot'></div>

        <hr>
        <h3 class='text-center my-3'>Force plot for individual patients</h3>
        <p>Select the original patient index number in the dropdown box to view the explanation of an individual patient’s predicted risk.</p>
        <div class="row">
          <div class="col-2"> <label for="patients_select">Original Patient Index:</label> </div>
          <div class="col">
            <select id="patients_select" class="form-control"></select>
          </div>
          <div class="col-2">
            <button id="patients_select_button" type="button" class="btn btn-primary form-control">Show Patient</button>
          </div>
        </div>
        <div id='shap_patient_plot' class="my-3"></div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bundle.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>
